@page "/managejobs"
@using EasyPolicheck.Data;
@using System.Text.Json;
@using System.Text.Json.Nodes;
@using System.Linq;
@inject JobsService JobsService
@inject NavigationManager NavManager


<h2>Manage Jobs</h2>
@* @if (jobsRender == null || jobsRender.Count() == 0) *@
@if (JobsInfo == null)
{
    <p><em>No jobs found...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @* <th>Index</th> *@
                <th>Title</th>
                <th>Source Dir</th>
                <th>Destination Dir</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in JobsInfo)
            {
                <tr>
                    @* <td>@IndexOf(JobsInfo)</td> *@
                    <td>@job.JobTitle</td>
                    <td>@job.SourceDir</td>
                    <td>@job.DestDir</td>
                    <td>@job.JobLang</td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" onclick="window.location.href='/addjob'">Add Job</button>

@code {
    List<JobInfo> JobsInfo = new List<JobInfo>();

    protected override void OnInitialized()
    {
        var jobs = JobsService.LoadJobs();
        JobsInfo.AddRange(jobs);

    }

    protected void OnAfterRender()
    {

    }
}
