@page "/managejobs"
@using EasyPolicheck.Data;
@using System.Text.Json;
@using System.Linq;
@inject JobsService JobsService
@inject NavigationManager NavigationManager


<h2>Manage Jobs</h2>

@if (JobsInfo == null || JobsInfo.Count() == 0)
{
    <p><em>No jobs found...</em></p>
}
else
{
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Title</th>
                <th class="text-center">Source Dir</th>
                <th class="text-center">Destination Dir</th>
                <th class="text-center">Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in JobsInfo)
            {
                <tr>
                    <td>@job.JobTitle</td>
                    <td>@job.SourceDir</td>
                    <td>@job.DestDir</td>
                    <td class="text-center" style="width:20%">
                        <button class="btn btn-primary mx-2" @onclick="@(() => goPage("editjob", job.Id))">Edit</button>
                        <button class="btn btn-danger" @onclick="@(() => goPage("deletejob", job.Id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="@(() => goPage("addjob", string.Empty))">Add Job</button>

@code {
    List<JobInfo> JobsInfo = new List<JobInfo>();
    protected override void OnInitialized()
    {
        var jobs = JobsService.LoadJobs();
        JobsInfo.AddRange(jobs);

    }

    private void goPage(string url, string rId)
    {
        if (rId == string.Empty)
        {
            NavigationManager.NavigateTo(url);
        }
        else
        {
            NavigationManager.NavigateTo(url + "/" + rId);
        }
    }

}
